.app {
  font-family: "Roboto", sans-serif;
}

.app-header {
  width: 100vw;
  /* max-width: 100vh; */
  overflow: hidden;
  text-align: center;
  /* background-color: #000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#background-video {
  width: 100%;
  height: 100%;
  opacity: 0.45;
}

.overlay {
  position: absolute;
  bottom: 35%;
  width: 90%;
}

.overlay img {
  width: 100%;
}

.about-section {
  width: 90%;
  margin: 1rem auto;
}

.about-section img {
  width: 100%;
}

.offering-section {
  background-color: #f5f5f5;
  padding: 1rem;
}

.offering-section ol {
  list-style: none;
}

.training-rates-section {
  padding: 1rem;
}

.testimonials-section {
  background-color: #e5e5e5;
  padding: 1rem;
}

.testimonials-section ol {
  list-style: none;
}

.testimonials-section li {
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #d9d9d9;
}

.testimonials-section p {
  background-color: #424040;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
}

.calendly-section {
  background-color: #3a3a3a;
  color: #fff;
  padding: 1rem;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 1rem;
}

.footer ol {
  list-style: none;
}

.footer-first-column h1 {
  margin-top: 0;
}

.footer-second-column ol {
  display: flex;
  padding-left: 0;
}

.footer-second-column li {
  margin-right: 0.5rem;
}

.footer-second-column svg {
  height: 2rem;
}

.facebook-icon {
  color: #6d85b4;
}

.linkedin-icon {
  color: #88bee1;
}

.instagram-icon {
  color: #d84453;
}

.footer-third-column iframe {
  width: 100%;
}

@media screen and (min-width: 767px) {
  .overlay {
    bottom: 25%;
  }
}

@media only screen and (min-width: 992px) {
}
